*{margin:0;padding:0;list-style-type:none;}
a{blr:expression(this.onFocus=this.blur())}/*去掉a标签的虚线框，避免出现奇怪的选中区域*/
:focus{outline:0;}
label{cursor:pointer;}
img{vertical-align:middle;}
table{empty-cells:show;border-collapse:collapse;border-spacing:0;}
h1{font-size:16px;}h2,h3,h4{font-size:14px;}h5,h6{font-size:12px;}
abbr,acronym{border:0;font-variant:normal}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{*font-size:100%}
a,img{border:0;}
a,a:visited{color:#5e5e5e; text-decoration:none;}
a:hover{color:#4183C4;text-decoration:underline;}
.clear{display:block;overflow:hidden;clear:both;height:0;line-height:0;font-size:0;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
*html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}
/* shortcut */
.shortcut{height:32px;line-height:32px;font-size:12px;background:#eee;text-transform:uppercase;box-shadow:1px 0px 2px rgba(0,0,0,0.2);border-bottom:1px solid #DDDDDD;}
.shortcut h1{font-size:14px;font-family:"微软雅黑","宋体";}
.shortcut a,.shortcut h1{padding:0px 10px;letter-spacing:1px;color:#333;text-shadow:0px 1px 1px #fff;display:block;float:left;width:360px;height:32px;overflow:hidden;}
.shortcut a:hover{background:#fff;}
.shortcut span.right{float:right;display:inline-block;width:468px;height:15px;overflow:hidden;margin:8px 5px 0 0;}
.shortcut .close{
    background:url(/Public/images/close-demo.gif) no-repeat 0 0;width:20px;height:20px;line-height:99em;overflow:hidden;display:inline-block;margin:6px 10px 0 10px;float:right;padding:0;
    -webkit-transition:all .3s ease-out 0s;
    -moz-transition:all .3s ease-out 0s;
    -ms-transition:all .3s ease-out 0s;
    -o-transition:all .3s ease-out 0s;
    transition:all .3s ease-out 0s;
}
.shortcut .close:hover{background:url(/Public/images/close-demo.gif) no-repeat 0 -20px}
.shortcut .close:active{background:url(/Public/images/close-demo.gif) no-repeat 0 -40px}

@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}
.slider div p{
    font-size: 14px;
    text-align: -webkit-left;
    line-height: 20px;
}
.border_width>li{
    line-height: 20px;
}
@media all and (min-height: 560px)and (max-height:660px) {
    .slider {
        -webkit-animation: animation ease 1s;
        animation-delay: .8s;
        animation-fill-mode: backwards;
        margin: 0 auto;
        height: 630px;
        padding: 40px;
        top: 100px;
        perspective: 1000px;
        transition: ease-in-out .2s;
    }
    .slide {
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        position: absolute;
        height: 380px;
        width: 240px;
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
        background: #fcfcfc;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        text-align: center;
        /* overflow: hidden; */
        border: 12px white solid;
        box-sizing: border-box;
        border-bottom: 55px white solid;
        border-radius: 5px;
    }
}
@media all and (min-height: 661px)and (max-height:700px){
    .slider {
        -webkit-animation: animation ease 1s;
        animation-delay: .8s;
        animation-fill-mode: backwards;
        margin: 0 auto;
        height: 630px;
        padding-left: 34px;
        padding-top: 50px;
        top: 100px;
        perspective: 1000px;
        transition: ease-in-out .2s;
    }
    .slide {
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        position: absolute;
        height: 380px;
        width: 310px;
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
        background: #fcfcfc;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        text-align: center;
        /* overflow: hidden; */
        border: 12px white solid;
        box-sizing: border-box;
        border-bottom: 55px white solid;
        border-radius: 5px;
    }
}
@media all and (min-height: 701px)and (max-height:750px){
    .slider {
        -webkit-animation: animation ease 1s;
        animation-delay: .8s;
        animation-fill-mode: backwards;
        margin: 0 auto;
        height: 900px;
        top: 100px;
        perspective: 1000px;
        transition: ease-in-out .2s;
        padding-left: 30px;
        padding-top: 39px;
    }
    .slide {
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        position: absolute;
        height: 520px;
        width: 350px;
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
        background: #fcfcfc;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        text-align: center;
        /* overflow: hidden; */
        border: 12px white solid;
        box-sizing: border-box;
        border-bottom: 55px white solid;
        border-radius: 5px;
    }
}
.slide img { text-align:center;width:100%; height:70%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }

.transition {
    -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
    transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}
article,aside,details,figcaption,figure,footer,header,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

a{color: #2fa0ec;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;}
.font_size_weight{
    font-weight: initial;
    font-size: 12px;
    color: #ccc;
}
.font_size_weight_b{
    font-weight: initial;
    font-size: 12px;
    color:#aaaaaa;
}
.font_size_12{
    font-size:12px;
    color:#c2c2c2;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
b {
    font-weight: lighter;
}
.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.border_width{
    border: 1px solid #CCCCCC;
    width: 60px;
    height:60px;
    color:#d8d8d8;
    font-size: 12px;
}
.line_height_bottom{
    line-height: 92px;
    font-size: 12px;
    text-align: -webkit-right;
}