
.header {
    width: 100%;
    height: 50px;
    background: #00990d;
}
.header > ul:nth-of-type(1) {
    width: 100%;
    height: 50px;
    line-height: 50px;
}
.back {
    margin-top: 5px;
    width: 40px;
    height: 40px;
    line-height: 50px;
    background: url('/static/btn_back_normal.png') no-repeat center;
    background-size: 60%;
}
.team_logo>img{
    width: 60%;
    height: 70%;
}
.box_radius {
    padding-top: 50px;
    margin-top: -1px;
    width: 100%;
    background: #00990D;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    -webkit-box-shadow: 0px 3px 3px #00990d;
    -moz-box-shadow: 0px 3px 3px #00990d;
    box-shadow: 0px 3px 3px #00990d;
}
.bg_logo {
    width: 100%;
    height: 130px;
    text-align: center;
}

section > div:nth-of-type(1) {
    height: 40px;
    padding-top: 3%;
    line-height: 40px;
    font-size: 16px;
    color: #1f1f1f;
}
section > div > ul > li.activer > b {
    display: -webkit-box;
    height: 2px;
    border-bottom: 2px solid #c9c9c9;
    width: 50px;
}
section > div > ul > li.activer:nth-of-type(1)> b {
    float: right;
    padding-top: 18px;
}
section > div > ul > li.activer:nth-of-type(2) {
    padding: 0 10px;
}
section > div > ul > li.activer:nth-of-type(3)> b {
    float: left;
    padding-top: 18px;
}
.bgColor5, .width {
    background-color: #fff;
}
@media all and (min-height: 560px)and (max-height:660px){
    .bgColor5> ul {
        padding: 0 10px;
        height: 50px;
        line-height: 50px;
    }
    .bgColor5 > ul > li.activer:nth-of-type(1) {
        padding-top: 4%;
        padding-left: 18px;
    }
    .width > ul > li:nth-of-type(2) {
        padding-top: 12px;
        color: #919191;
        padding-right: 20px;
    }
    .width > ul > div {
        color: #2d2d2d;
        text-align: left;
        padding-top: 12px;
    }
    .width>ul{
        padding-left: 18px;
    }
    .width > ul > li:nth-of-type(1) {
        padding-top: 4%;
        padding-left: 11px;
    }
    .width {
        padding-bottom: 10%;
    }
}
@media all and (min-height: 661px)and (max-height:750px){
    .bgColor5> ul {
        padding: 0 20px;
        height: 80px;
        line-height: 80px;
    }
    .width > ul > li:nth-of-type(1) {
        padding-top: 4%;
        padding-left: 18px;
    }

    .bgColor5 > ul > li:nth-of-type(1) {
        padding-top: 7%;
        padding-left: 18px;
    }
    .padding_t_text{
        padding-top: 10px;
    }
    .width>ul{
        padding-left: 18px;
    }
    .width>ul>li.padding_t_text{
        padding-top: 10px;
    }
    .width > ul > li.active:nth-of-type(2) {
        padding-top: 20px;
        color: #919191;
        padding-right: 20px;
    }
    .width > ul > div {
        color: #2d2d2d;
        text-align: left;
        padding-top: 20px;
    }
    .width {
        padding-bottom: 15%;
    }
}

.bgColor5 > ul > li.height60 {
    line-height: 0px !important;
}

.bgColor5 > ul > li:nth-of-type(1)> div {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    padding-left: 6px;
    padding-top: 6px;
}
.bgColor5 > ul > li:nth-of-type(1)> div > div {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #000000;
}
.bgColor5 > ul > li:nth-of-type(2) {
    color: #919191;
    padding-right: 20px;
}
.bgColor5 > ul > li:nth-of-type(3) {
    color: #2d2d2d;
    text-align: left;
}
.width > ul > li:nth-of-type(1)> div {
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    padding-left: 6px;
    padding-top: 6px;
}
.width > ul > li:nth-of-type(1)> div > div {
    height: 12px;
    width: 12px;
    border: 1px solid #000;
    border-radius: 50%;
    background: #000000;
}
.button {
    margin-top: 20px;
    border: 0;
    background-color: #FFFFFF;
    height: 70px;
    width: 60%;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border-radius: 35px;
    line-height: 70px;
    color: #4f4f4f;
    margin: 0 20%;
    -webkit-box-shadow: 0 0 10px #e7e7e7;
    -moz-box-shadow: 0 0 10px #e7e7e7;
    box-shadow: 0 0 10px #e7e7e7;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    color: #555;
    font-size: 14px;
    font-family: "微软雅黑", Verdana, Arial, Helvetica, sans-serif;
}
td, th, caption {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 100%;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #555;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
img {
    border: none;
}
ol, ul, li {
    list-style: none;
}
input, textarea, select, button {
    font: 14px Verdana, Helvetica, Arial, sans-serif;
    outline: none;
}
table {
    border-collapse: collapse;
}
html {
    overflow-y: scroll;
}
/* css common */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    *zoom: 1;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
b {
    font-weight: lighter;
}